type efs_block_device, file_type;
type firmware_camera, file_type;
type firmware_mfc, file_type;
type kickstart_data_file, file_type;
type kickstart_exec, exec_type, file_type;
type macloader_exec, file_type;
type mdnie_sysfs, file_type;
type mfc_device, file_type;
type qmuxd_exec, exec_type, file_type;
type qmuxd_socket, file_type;
type rfkill_device, file_type;
type sensors_data_file, file_type;
