type bluetooth_data_file, file_type;
type boot_block_device, file_type;
type cache_block_device, file_type;
type camera_data_file, file_type;
type efs_block_device, file_type;
type efs_file, file_type;
type firmware_camera, file_type;
type firmware_mfc, file_type;
type gps_device, file_type;
type gpu_device, file_type;
type hci_attach_dev, file_type;
type input_device, file_type;
type kickstart_data_file, file_type;
type kickstart_exec, file_type;
type macloader_exec, file_type;
type mdnie_sysfs, file_type;
type mfc_device, file_type;
type qmuxd_exec, file_type;
type qmuxd_socket, file_type;
type radio_data_file, file_type;
type radio_device, file_type;
type rfkill_device, file_type;
type sensors_data_file, file_type;
type sensors_device, file_type;
type system_block_device, file_type;
type system_data_file, file_type;
type tombstone_data_file, file_type;
type userdata_block_device, file_type;
type video_device, file_type;
type wifi_data_file, file_type;
